* {
    box-sizing: border-box;
}
body {
    background-image: url(plexus1.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    justify-content: center;

}
.main-header{
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: space-between;
}
.container{
    display: flex;
    justify-content: center;
}
.box {
    /* border: 1px solid white; */
    width: 350px;
    height: 65vh;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    box-shadow: 0px 11px 35px 4px black;
    padding: 50px;
    padding-top: 30px;
    margin-top: 50px;
}
input {
    border: 1px solid white;
    margin: 0px 0px 20px;
    background: transparent;
    padding: 10px;
    width: 80%;
}
input :hover {
    background-color: white;
}
.button {
    border: 1px solid white;
    color: white;
    font-size: 16px;
    padding: 8px 16px;
    background: transparent;
}
a {
    color: white;
}
